<p style="color: green"><%= notice %></p>

<% content_for :title, "Autors" %>

<h1>Autors</h1>

<div id="autors">
  <% @autors.each do |autor| %>
    <%= render autor %>
    <p>
      <%= link_to "Show this autor", autor %>
    </p>
  <% end %>
</div>

<hr>
<%= link_to "Nuevo autor", new_autor_path %> <br><br>
<%= link_to "Volver a libros", libros_path %>
<hr>
