<%= form_with(model: biblioteca) do |form| %>
  <% if biblioteca.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(biblioteca.errors.count, "error") %> prohibited this biblioteca from being saved:</h2>

      <ul>
        <% biblioteca.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :estado, style: "display: block" %>
    <%= form.text_field :estado %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
