<%= form_with(model: libro) do |form| %>
  <% if libro.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(libro.errors.count, "error") %> prohibited this libro from being saved:</h2>

      <ul>
        <% libro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :editorial, style: "display: block" %>
    <%= form.text_field :editorial %>
  </div>

  <div>
    <%= form.label :fechaPub, style: "display: block" %>
    <%= form.date_field :fechaPub %>
  </div>

  <div>
    <%= form.label :autor_id, style: "display: block" %>
    <%= form.select(:autor_id, Autor.all.collect { |a| [a.nombre, a.id]}) %>
    <%#  form.text_field :autor_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
