<p style="color: green"><%= notice %></p>

<% content_for :title, "Libros" %>

<h1>Libros</h1>

<div id="libros">
  <% @libros.each do |libro| %>
    <%= render libro %>
    <p>
      <%= link_to "Show this libro", libro %>
    </p>
  <% end %>
</div>

<hr>
<%= link_to "Agregar libro", new_libro_path %> <br> <br>
<%= link_to "Agregar Autor", new_autor_path %> <br> <br>
<p>Aqui de rol cotorreando </p>
<hr>
