<p style="color: green"><%= notice %></p>

<%= render @libro %>

<div>
  <%= link_to "Edit this libro", edit_libro_path(@libro) %> |
  <%= link_to "Back to libros", libros_path %>

  <%= button_to "Destroy this libro", @libro, method: :delete %>
</div>
